.root {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__s4Yki {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__s4Yki > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__s4Yki > :global(.__wab_flex-container) > *,
.freeBox__s4Yki > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s4Yki > :global(.__wab_flex-container) > picture > img,
.freeBox__s4Yki
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__btJYu {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__btJYu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__btJYu > :global(.__wab_flex-container) > *,
.freeBox__btJYu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__btJYu > :global(.__wab_flex-container) > picture > img,
.freeBox__btJYu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__wIYz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__cyqO8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j9F50 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tViVl:global(.__wab_instance) {
  position: relative;
}
.svg__rspk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__x8Abk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__l9KvS:global(.__wab_instance) {
  position: relative;
}
.svg__q2Gx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bygz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___0GiBm:global(.__wab_instance) {
  position: relative;
}
.svg__wD7Cb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ytw7W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
