@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-GFlAYOdN-enUI8: #007aff;
  --plasmic-token-blue: var(--token-GFlAYOdN-enUI8);
  --token-8u2S0pbgoo4ytq: #333333;
  --plasmic-token-primary-label: var(--token-8u2S0pbgoo4ytq);
  --token-zAC3OL5JL5H6b8: #666666;
  --plasmic-token-secondary-label: var(--token-zAC3OL5JL5H6b8);
  --token-WQKyXXodEujCgV: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-WQKyXXodEujCgV);
  --token-MiG6WPC1fgK9hk: #ffcc00;
  --plasmic-token-star-color: var(--token-MiG6WPC1fgK9hk);
}

.plasmic_default_styles {
  --mixin-UM0s7uEnu7ZLAI_font-family: "Inter";
  --mixin-UM0s7uEnu7ZLAI_font-size: 16px;
  --mixin-UM0s7uEnu7ZLAI_font-style: normal;
  --mixin-UM0s7uEnu7ZLAI_color: #333333;
  --mixin-UM0s7uEnu7ZLAI_text-align: left;
  --mixin-UM0s7uEnu7ZLAI_text-transform: none;
  --mixin-UM0s7uEnu7ZLAI_white-space: pre-wrap;
  --mixin-UM0s7uEnu7ZLAI_user-select: text;
  --mixin-UM0s7uEnu7ZLAI_text-decoration-line: none;
  --mixin-UM0s7uEnu7ZLAI_text-overflow: clip;
  --mixin-UM0s7uEnu7ZLAI_line-height: 1.5;
  --mixin-0OdG-3Gnbiv10K_font-family: "Inter";
  --mixin-0OdG-3Gnbiv10K_color: #000000;
  --mixin-0OdG-3Gnbiv10K_font-size: 48px;
  --mixin-0OdG-3Gnbiv10K_font-weight: 700;
  --mixin-0OdG-3Gnbiv10K_letter-spacing: -1px;
  --mixin-0OdG-3Gnbiv10K_line-height: 1.1;
  --mixin-lOEiZlR7c-Ib9I_font-family: "Inter";
  --mixin-lOEiZlR7c-Ib9I_color: #000000;
  --mixin-lOEiZlR7c-Ib9I_font-size: 32px;
  --mixin-lOEiZlR7c-Ib9I_font-weight: 600;
  --mixin-lOEiZlR7c-Ib9I_letter-spacing: -0.8px;
  --mixin-lOEiZlR7c-Ib9I_line-height: 1.2;
  --mixin-SdtQg4oaAfz3Hv_font-family: "Inter";
  --mixin-SdtQg4oaAfz3Hv_color: #000000;
  --mixin-SdtQg4oaAfz3Hv_font-size: 24px;
  --mixin-SdtQg4oaAfz3Hv_font-weight: 600;
  --mixin-SdtQg4oaAfz3Hv_letter-spacing: -0.5px;
  --mixin-SdtQg4oaAfz3Hv_line-height: 1.3;
  --mixin-_10vk978mGv1My_font-family: "Inter";
  --mixin-_10vk978mGv1My_color: #000000;
  --mixin-_10vk978mGv1My_font-size: 20px;
  --mixin-_10vk978mGv1My_font-weight: 600;
  --mixin-_10vk978mGv1My_letter-spacing: -0.3px;
  --mixin-_10vk978mGv1My_line-height: 1.5;
  --mixin-xPJqeNJC7g2vTW_font-family: "Inter";
  --mixin-xPJqeNJC7g2vTW_color: #000000;
  --mixin-xPJqeNJC7g2vTW_font-size: 16px;
  --mixin-xPJqeNJC7g2vTW_font-weight: 600;
  --mixin-xPJqeNJC7g2vTW_line-height: 1.5;
  --mixin-zu2W2nfenKxOLA_border-left-color: #dddddd;
  --mixin-zu2W2nfenKxOLA_border-left-style: solid;
  --mixin-zu2W2nfenKxOLA_border-left-width: 3px;
  --mixin-zu2W2nfenKxOLA_color: #888888;
  --mixin-zu2W2nfenKxOLA_padding-left: 10px;
  --mixin-lWRABySsrpRNSJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lWRABySsrpRNSJ_border-bottom-color: #dddddd;
  --mixin-lWRABySsrpRNSJ_border-bottom-style: solid;
  --mixin-lWRABySsrpRNSJ_border-bottom-width: 1px;
  --mixin-lWRABySsrpRNSJ_border-left-color: #dddddd;
  --mixin-lWRABySsrpRNSJ_border-left-style: solid;
  --mixin-lWRABySsrpRNSJ_border-left-width: 1px;
  --mixin-lWRABySsrpRNSJ_border-right-color: #dddddd;
  --mixin-lWRABySsrpRNSJ_border-right-style: solid;
  --mixin-lWRABySsrpRNSJ_border-right-width: 1px;
  --mixin-lWRABySsrpRNSJ_border-top-color: #dddddd;
  --mixin-lWRABySsrpRNSJ_border-top-style: solid;
  --mixin-lWRABySsrpRNSJ_border-top-width: 1px;
  --mixin-lWRABySsrpRNSJ_border-bottom-left-radius: 3px;
  --mixin-lWRABySsrpRNSJ_border-bottom-right-radius: 3px;
  --mixin-lWRABySsrpRNSJ_border-top-left-radius: 3px;
  --mixin-lWRABySsrpRNSJ_border-top-right-radius: 3px;
  --mixin-lWRABySsrpRNSJ_font-family: "Inconsolata";
  --mixin-lWRABySsrpRNSJ_padding-bottom: 1px;
  --mixin-lWRABySsrpRNSJ_padding-left: 4px;
  --mixin-lWRABySsrpRNSJ_padding-right: 4px;
  --mixin-lWRABySsrpRNSJ_padding-top: 1px;
  --mixin-l3LU9SZx0CflEV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-l3LU9SZx0CflEV_border-bottom-color: #dddddd;
  --mixin-l3LU9SZx0CflEV_border-bottom-style: solid;
  --mixin-l3LU9SZx0CflEV_border-bottom-width: 1px;
  --mixin-l3LU9SZx0CflEV_border-left-color: #dddddd;
  --mixin-l3LU9SZx0CflEV_border-left-style: solid;
  --mixin-l3LU9SZx0CflEV_border-left-width: 1px;
  --mixin-l3LU9SZx0CflEV_border-right-color: #dddddd;
  --mixin-l3LU9SZx0CflEV_border-right-style: solid;
  --mixin-l3LU9SZx0CflEV_border-right-width: 1px;
  --mixin-l3LU9SZx0CflEV_border-top-color: #dddddd;
  --mixin-l3LU9SZx0CflEV_border-top-style: solid;
  --mixin-l3LU9SZx0CflEV_border-top-width: 1px;
  --mixin-l3LU9SZx0CflEV_border-bottom-left-radius: 3px;
  --mixin-l3LU9SZx0CflEV_border-bottom-right-radius: 3px;
  --mixin-l3LU9SZx0CflEV_border-top-left-radius: 3px;
  --mixin-l3LU9SZx0CflEV_border-top-right-radius: 3px;
  --mixin-l3LU9SZx0CflEV_font-family: "Inconsolata";
  --mixin-l3LU9SZx0CflEV_padding-bottom: 3px;
  --mixin-l3LU9SZx0CflEV_padding-left: 6px;
  --mixin-l3LU9SZx0CflEV_padding-right: 6px;
  --mixin-l3LU9SZx0CflEV_padding-top: 3px;
  --mixin-TIzKUJpr08yb5X_display: flex;
  --mixin-TIzKUJpr08yb5X_flex-direction: column;
  --mixin-TIzKUJpr08yb5X_align-items: stretch;
  --mixin-TIzKUJpr08yb5X_justify-content: flex-start;
  --mixin-TIzKUJpr08yb5X_list-style-position: outside;
  --mixin-TIzKUJpr08yb5X_padding-left: 40px;
  --mixin-TIzKUJpr08yb5X_position: relative;
  --mixin-TIzKUJpr08yb5X_list-style-type: decimal;
  --mixin-38eopK5AfJ9JN4_display: flex;
  --mixin-38eopK5AfJ9JN4_flex-direction: column;
  --mixin-38eopK5AfJ9JN4_align-items: stretch;
  --mixin-38eopK5AfJ9JN4_justify-content: flex-start;
  --mixin-38eopK5AfJ9JN4_list-style-position: outside;
  --mixin-38eopK5AfJ9JN4_padding-left: 40px;
  --mixin-38eopK5AfJ9JN4_position: relative;
  --mixin-38eopK5AfJ9JN4_list-style-type: disc;
}

.plasmic_mixins {
  --mixin-20kSYsEOsgA7wR_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(
    --mixin-20kSYsEOsgA7wR_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-UM0s7uEnu7ZLAI_font-family);
  font-size: var(--mixin-UM0s7uEnu7ZLAI_font-size);
  font-style: var(--mixin-UM0s7uEnu7ZLAI_font-style);
  color: var(--mixin-UM0s7uEnu7ZLAI_color);
  text-align: var(--mixin-UM0s7uEnu7ZLAI_text-align);
  text-transform: var(--mixin-UM0s7uEnu7ZLAI_text-transform);
  line-height: var(--mixin-UM0s7uEnu7ZLAI_line-height);
  white-space: var(--mixin-UM0s7uEnu7ZLAI_white-space);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-0OdG-3Gnbiv10K_font-family);
  color: var(--mixin-0OdG-3Gnbiv10K_color);
  font-size: var(--mixin-0OdG-3Gnbiv10K_font-size);
  font-weight: var(--mixin-0OdG-3Gnbiv10K_font-weight);
  letter-spacing: var(--mixin-0OdG-3Gnbiv10K_letter-spacing);
  line-height: var(--mixin-0OdG-3Gnbiv10K_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-lOEiZlR7c-Ib9I_font-family);
  color: var(--mixin-lOEiZlR7c-Ib9I_color);
  font-size: var(--mixin-lOEiZlR7c-Ib9I_font-size);
  font-weight: var(--mixin-lOEiZlR7c-Ib9I_font-weight);
  letter-spacing: var(--mixin-lOEiZlR7c-Ib9I_letter-spacing);
  line-height: var(--mixin-lOEiZlR7c-Ib9I_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-SdtQg4oaAfz3Hv_font-family);
  color: var(--mixin-SdtQg4oaAfz3Hv_color);
  font-size: var(--mixin-SdtQg4oaAfz3Hv_font-size);
  font-weight: var(--mixin-SdtQg4oaAfz3Hv_font-weight);
  letter-spacing: var(--mixin-SdtQg4oaAfz3Hv_letter-spacing);
  line-height: var(--mixin-SdtQg4oaAfz3Hv_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-_10vk978mGv1My_font-family);
  color: var(--mixin-_10vk978mGv1My_color);
  font-size: var(--mixin-_10vk978mGv1My_font-size);
  font-weight: var(--mixin-_10vk978mGv1My_font-weight);
  letter-spacing: var(--mixin-_10vk978mGv1My_letter-spacing);
  line-height: var(--mixin-_10vk978mGv1My_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-xPJqeNJC7g2vTW_font-family);
  color: var(--mixin-xPJqeNJC7g2vTW_color);
  font-size: var(--mixin-xPJqeNJC7g2vTW_font-size);
  font-weight: var(--mixin-xPJqeNJC7g2vTW_font-weight);
  line-height: var(--mixin-xPJqeNJC7g2vTW_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-zu2W2nfenKxOLA_color);
  padding-left: var(--mixin-zu2W2nfenKxOLA_padding-left);
  border-left: var(--mixin-zu2W2nfenKxOLA_border-left-width)
    var(--mixin-zu2W2nfenKxOLA_border-left-style)
    var(--mixin-zu2W2nfenKxOLA_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-lWRABySsrpRNSJ_background);
  font-family: var(--mixin-lWRABySsrpRNSJ_font-family);
  border-radius: var(--mixin-lWRABySsrpRNSJ_border-top-left-radius)
    var(--mixin-lWRABySsrpRNSJ_border-top-right-radius)
    var(--mixin-lWRABySsrpRNSJ_border-bottom-right-radius)
    var(--mixin-lWRABySsrpRNSJ_border-bottom-left-radius);
  padding: var(--mixin-lWRABySsrpRNSJ_padding-top)
    var(--mixin-lWRABySsrpRNSJ_padding-right)
    var(--mixin-lWRABySsrpRNSJ_padding-bottom)
    var(--mixin-lWRABySsrpRNSJ_padding-left);
  border-top: var(--mixin-lWRABySsrpRNSJ_border-top-width)
    var(--mixin-lWRABySsrpRNSJ_border-top-style)
    var(--mixin-lWRABySsrpRNSJ_border-top-color);
  border-right: var(--mixin-lWRABySsrpRNSJ_border-right-width)
    var(--mixin-lWRABySsrpRNSJ_border-right-style)
    var(--mixin-lWRABySsrpRNSJ_border-right-color);
  border-bottom: var(--mixin-lWRABySsrpRNSJ_border-bottom-width)
    var(--mixin-lWRABySsrpRNSJ_border-bottom-style)
    var(--mixin-lWRABySsrpRNSJ_border-bottom-color);
  border-left: var(--mixin-lWRABySsrpRNSJ_border-left-width)
    var(--mixin-lWRABySsrpRNSJ_border-left-style)
    var(--mixin-lWRABySsrpRNSJ_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-l3LU9SZx0CflEV_background);
  font-family: var(--mixin-l3LU9SZx0CflEV_font-family);
  border-radius: var(--mixin-l3LU9SZx0CflEV_border-top-left-radius)
    var(--mixin-l3LU9SZx0CflEV_border-top-right-radius)
    var(--mixin-l3LU9SZx0CflEV_border-bottom-right-radius)
    var(--mixin-l3LU9SZx0CflEV_border-bottom-left-radius);
  padding: var(--mixin-l3LU9SZx0CflEV_padding-top)
    var(--mixin-l3LU9SZx0CflEV_padding-right)
    var(--mixin-l3LU9SZx0CflEV_padding-bottom)
    var(--mixin-l3LU9SZx0CflEV_padding-left);
  border-top: var(--mixin-l3LU9SZx0CflEV_border-top-width)
    var(--mixin-l3LU9SZx0CflEV_border-top-style)
    var(--mixin-l3LU9SZx0CflEV_border-top-color);
  border-right: var(--mixin-l3LU9SZx0CflEV_border-right-width)
    var(--mixin-l3LU9SZx0CflEV_border-right-style)
    var(--mixin-l3LU9SZx0CflEV_border-right-color);
  border-bottom: var(--mixin-l3LU9SZx0CflEV_border-bottom-width)
    var(--mixin-l3LU9SZx0CflEV_border-bottom-style)
    var(--mixin-l3LU9SZx0CflEV_border-bottom-color);
  border-left: var(--mixin-l3LU9SZx0CflEV_border-left-width)
    var(--mixin-l3LU9SZx0CflEV_border-left-style)
    var(--mixin-l3LU9SZx0CflEV_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-TIzKUJpr08yb5X_display);
  flex-direction: var(--mixin-TIzKUJpr08yb5X_flex-direction);
  align-items: var(--mixin-TIzKUJpr08yb5X_align-items);
  justify-content: var(--mixin-TIzKUJpr08yb5X_justify-content);
  list-style-position: var(--mixin-TIzKUJpr08yb5X_list-style-position);
  padding-left: var(--mixin-TIzKUJpr08yb5X_padding-left);
  position: var(--mixin-TIzKUJpr08yb5X_position);
  list-style-type: var(--mixin-TIzKUJpr08yb5X_list-style-type);
  flex-column-gap: var(--mixin-TIzKUJpr08yb5X_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-38eopK5AfJ9JN4_display);
  flex-direction: var(--mixin-38eopK5AfJ9JN4_flex-direction);
  align-items: var(--mixin-38eopK5AfJ9JN4_align-items);
  justify-content: var(--mixin-38eopK5AfJ9JN4_justify-content);
  list-style-position: var(--mixin-38eopK5AfJ9JN4_list-style-position);
  padding-left: var(--mixin-38eopK5AfJ9JN4_padding-left);
  position: var(--mixin-38eopK5AfJ9JN4_position);
  list-style-type: var(--mixin-38eopK5AfJ9JN4_list-style-type);
  flex-column-gap: var(--mixin-38eopK5AfJ9JN4_flex-column-gap);
}
