.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__ixtav {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__ixtav > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ixtav > :global(.__wab_flex-container) > *,
.freeBox__ixtav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ixtav > :global(.__wab_flex-container) > picture > img,
.freeBox__ixtav
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ixtav {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ixtav > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ixtav > :global(.__wab_flex-container) > *,
  .freeBox__ixtav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ixtav > :global(.__wab_flex-container) > picture > img,
  .freeBox__ixtav
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__kVz3I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kVz3I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kVz3I > :global(.__wab_flex-container) > *,
.freeBox__kVz3I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kVz3I > :global(.__wab_flex-container) > picture > img,
.freeBox__kVz3I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xqRm {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__wwv3 {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__rmO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5BXi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wqaxq:global(.__wab_instance) {
  position: relative;
}
.svg___7F7M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hCdsa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__tTd0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__tTd0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tTd0 > :global(.__wab_flex-container) > *,
.freeBox__tTd0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tTd0 > :global(.__wab_flex-container) > picture > img,
.freeBox__tTd0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fbElN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox___3OUaq {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___3OUaq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3OUaq > :global(.__wab_flex-container) > *,
.freeBox___3OUaq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3OUaq > :global(.__wab_flex-container) > picture > img,
.freeBox___3OUaq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__udnLn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__jCsDy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jifxa:global(.__wab_instance) {
  position: relative;
}
.svg__lod7I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__rjPZd {
  height: auto;
}
.svg__eqQ3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fDif:global(.__wab_instance) {
  position: relative;
}
.svg__h5BXx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__zsQqJ {
  height: auto;
}
.svg__eGvfy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__vrl9D {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__vrl9D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vrl9D > :global(.__wab_flex-container) > *,
.freeBox__vrl9D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrl9D > :global(.__wab_flex-container) > picture > img,
.freeBox__vrl9D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bkLj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__edag7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___8R3X9 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___8R3X9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___8R3X9 > :global(.__wab_flex-container) > *,
.freeBox___8R3X9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8R3X9 > :global(.__wab_flex-container) > picture > img,
.freeBox___8R3X9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__qzWlj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__txTaL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__k5WFf:global(.__wab_instance) {
  position: relative;
}
.svg___5X8Ou {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lLfW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xxI66:global(.__wab_instance) {
  position: relative;
}
.svg__h4T0C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d71Ce {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4C8L:global(.__wab_instance) {
  position: relative;
}
.svg__j4THz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5XJi3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__yQcgF {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__yQcgF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yQcgF > :global(.__wab_flex-container) > *,
.freeBox__yQcgF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yQcgF > :global(.__wab_flex-container) > picture > img,
.freeBox__yQcgF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__y7FEb:global(.__wab_instance) {
  position: relative;
}
.svg__w1Uqh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zDaMf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ddx51:global(.__wab_instance) {
  position: relative;
}
.svg__kvBds {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d7GE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sI4Wp:global(.__wab_instance) {
  position: relative;
}
.svg__aXm3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z6QEo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
