.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__ocf {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/full_commerce_storefront_primary_copy/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ocf {
    padding-bottom: 0px;
  }
}
.container3 {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__y2Hsf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__y2Hsf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__y2Hsf > :global(.__wab_flex-container) > *,
.freeBox__y2Hsf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y2Hsf > :global(.__wab_flex-container) > picture > img,
.freeBox__y2Hsf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mg75T {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__mg75T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mg75T > :global(.__wab_flex-container) > *,
.freeBox__mg75T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mg75T > :global(.__wab_flex-container) > picture > img,
.freeBox__mg75T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__rsilf {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-8u2S0pbgoo4ytq);
  min-width: 0;
}
.button___7DYtJ:global(.__wab_instance) {
  position: relative;
}
.svg___2WlT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i5PHk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__hBhLt {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__qKNtk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__gEjEd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___3LL31:global(.__wab_instance) {
  position: relative;
}
.svg__v1Jc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__er25G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1024px;
  min-width: 0;
  padding: 8px;
}
.productCollection__hGpd:global(.__wab_instance) {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__hGpd:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__brwfq:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qmbrn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pkTbq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__fqoq2:global(.__wab_instance) {
  position: relative;
}
.productTextField___5E9P:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField___0Lo6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-zAC3OL5JL5H6b8);
}
.text___4NWyr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ve9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section___0MySy {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox___7Zii0 {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox___7Zii0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___7Zii0 > :global(.__wab_flex-container) > *,
.freeBox___7Zii0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Zii0 > :global(.__wab_flex-container) > picture > img,
.freeBox___7Zii0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Zii0 {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Zii0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Zii0 > :global(.__wab_flex-container) > *,
  .freeBox___7Zii0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Zii0 > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Zii0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__kpZvo {
  flex-direction: column;
  display: flex;
}
.freeBox__kpZvo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kpZvo > :global(.__wab_flex-container) > *,
.freeBox__kpZvo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kpZvo > :global(.__wab_flex-container) > picture > img,
.freeBox__kpZvo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pkkhl {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pkkhl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pkkhl > :global(.__wab_flex-container) > *,
.freeBox__pkkhl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkkhl > :global(.__wab_flex-container) > picture > img,
.freeBox__pkkhl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mOqUi {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text___8NMvN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__xu1Ar {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xu1Ar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__xu1Ar > :global(.__wab_flex-container) > *,
.freeBox__xu1Ar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xu1Ar > :global(.__wab_flex-container) > picture > img,
.freeBox__xu1Ar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xu1Ar {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xu1Ar > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xu1Ar > :global(.__wab_flex-container) > *,
  .freeBox__xu1Ar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xu1Ar > :global(.__wab_flex-container) > picture > img,
  .freeBox__xu1Ar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__ymV3H {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg___0XDBk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qE647 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__x74Gp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___4JRco:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__jGDh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__lpIG {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__o2GVc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__lFyZp:global(.__wab_instance) {
  position: relative;
}
.svg__whoB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__taJxF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xwDee {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__vp3Cw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___2MlCw {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__dg4S {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__ciQrV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___7O8Cg:global(.__wab_instance) {
  position: relative;
}
.svg__lMn8I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lI5Hb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__fyty6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__kx2Wb:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__kx2Wb:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uiWen {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__xj3Xc {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__hGUux {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__ztyIh:global(.__wab_instance) {
  position: relative;
}
.svg___2Xj6W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__raDko {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___3FsQy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox___6HBi9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__mtFq7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__i7Kax:global(.__wab_instance) {
  position: relative;
}
.svg__u6T28 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wm6E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.productCollection___6D2Yh:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  padding: 32px;
}
.freeBox___4CsK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
}
.productCard__bmCwq:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tAoU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mW4Sx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__sj3Zb:global(.__wab_instance) {
  position: relative;
}
.productTextField__vDrE:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__fKr4Y:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-zAC3OL5JL5H6b8);
}
.text__l61Vv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__cp6On {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__sd1Y {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__gOrTc {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gOrTc > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gOrTc > :global(.__wab_flex-container) > *,
.freeBox__gOrTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gOrTc > :global(.__wab_flex-container) > picture > img,
.freeBox__gOrTc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bBVuV {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__chAhc:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__liDvT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__aMlxh {
  height: auto;
}
.svg__gChMq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.button___3HhlG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qSaiY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lkwnI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__d74Gt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rj8En {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.productCollection__wCJ:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__wCJ:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__uXaXv:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eYZfP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cueil {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___00PwC:global(.__wab_instance) {
  position: relative;
}
.productTextField__ziJtL:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__w1Fn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-zAC3OL5JL5H6b8);
}
.text__bVukt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__xd0LC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__r6Jil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__jcrJh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__dEdNu {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__evcd5 {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__cUhAa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__kwVij:global(.__wab_instance) {
  position: relative;
}
.svg__mGp98 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tuMYx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__k8Pyn {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__c5EKs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__jxvCu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__jxvCu:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___6Z2Zh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__prn1X {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__kKva4:global(.__wab_instance) {
  position: relative;
}
.svg__ehiKj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xy77O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tGdvx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__rkU2Q:global(.__wab_instance) {
  position: relative;
}
.svg__w4YyT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tbbNa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ypps {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__qgKdI:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__qgKdI:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__vwFcE {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__gH2H {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__nJfvs:global(.__wab_instance) {
  position: relative;
}
.svg___6NWIa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c6Ny {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zUr5Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__mOYt8:global(.__wab_instance) {
  position: relative;
}
.svg__uSaDk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kq5Sj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xpAsp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__kmMtO:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__kmMtO:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__ehum {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___5KDn1 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__wfiAy:global(.__wab_instance) {
  position: relative;
}
.svg__uqhTh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fKpDf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7Yx28 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___0N6Fi:global(.__wab_instance) {
  position: relative;
}
.svg__yIsS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rixoT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ai9Uq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__x8A4H:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__x8A4H:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__e19I3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__e3UmG {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__qHqXw:global(.__wab_instance) {
  position: relative;
}
.svg__iv6XZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lQtBs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jdtT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__t4Uau:global(.__wab_instance) {
  position: relative;
}
.svg__qRvtt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4UeEz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
