.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__xIbkm {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xIbkm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xIbkm > :global(.__wab_flex-container) > *,
.freeBox__xIbkm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xIbkm > :global(.__wab_flex-container) > picture > img,
.freeBox__xIbkm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___4DaYj {
  flex-direction: column;
  display: flex;
}
.freeBox___4DaYj > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4DaYj > :global(.__wab_flex-container) > *,
.freeBox___4DaYj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4DaYj > :global(.__wab_flex-container) > picture > img,
.freeBox___4DaYj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__uBvlk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__hU08T:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__oVcn0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___9SzdY {
  height: auto;
}
.svg__onj9K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.button__f1Zl8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ogeWw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dglQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__q9GkI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wfDeo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___7KfE9 {
  flex-direction: column;
  display: flex;
}
.freeBox___7KfE9 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___7KfE9 > :global(.__wab_flex-container) > *,
.freeBox___7KfE9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7KfE9 > :global(.__wab_flex-container) > picture > img,
.freeBox___7KfE9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__tsWcW {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__zqckQ:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__om2I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hvFKs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__im6UN:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___8BvlQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fPCvF {
  height: auto;
}
.svg__jO1TD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__k9MCu:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__ciQu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5FylR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___8EVn {
  flex-direction: column;
  display: flex;
}
.freeBox___8EVn > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___8EVn > :global(.__wab_flex-container) > *,
.freeBox___8EVn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8EVn > :global(.__wab_flex-container) > picture > img,
.freeBox___8EVn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__fxurv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__i6TeH:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__faNww {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j7YWp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__mrdVd:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__ffPsn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__aVqn6 {
  height: auto;
}
.svg__nr2Vj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__j02R9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__xpK5L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__otJ2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lUdww:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__c7VuM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cclpb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hgftT:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__dVkHd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hAsn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dkArf:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__mwGZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qdkcq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xgc5F:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__sbxaD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mkIph {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard:global(.__wab_instance) {
  max-width: 100%;
  width: 256px;
}
.svg__urAa2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__shsXr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___6Nn7Y:global(.__wab_instance) {
  position: relative;
}
.productTextField__me7Wi:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__roRRd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-zAC3OL5JL5H6b8);
}
.text__ddwW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___7FRmQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
