@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-Xixk-6oHLB_O_font-family: "Inter";
  --mixin-Xixk-6oHLB_O_font-size: 16px;
  --mixin-Xixk-6oHLB_O_font-weight: 400;
  --mixin-Xixk-6oHLB_O_font-style: normal;
  --mixin-Xixk-6oHLB_O_color: #535353;
  --mixin-Xixk-6oHLB_O_text-align: left;
  --mixin-Xixk-6oHLB_O_text-transform: none;
  --mixin-Xixk-6oHLB_O_line-height: 1.5;
  --mixin-Xixk-6oHLB_O_letter-spacing: normal;
  --mixin-Xixk-6oHLB_O_white-space: pre-wrap;
  --mixin-Xixk-6oHLB_O_user-select: text;
  --mixin-Xixk-6oHLB_O_text-decoration-line: none;
  --mixin-Xixk-6oHLB_O_text-overflow: clip;
  --mixin-fQ6nS-I1nyLw_color: #000000;
  --mixin-fQ6nS-I1nyLw_font-weight: 900;
  --mixin-fQ6nS-I1nyLw_font-size: 72px;
  --mixin-fQ6nS-I1nyLw_line-height: 1;
  --mixin-fQ6nS-I1nyLw_letter-spacing: -4px;
  --mixin-0E34zlMuDjcB_font-family: "Inter";
  --mixin-0E34zlMuDjcB_color: #000000;
  --mixin-0E34zlMuDjcB_font-size: 48px;
  --mixin-0E34zlMuDjcB_font-weight: 700;
  --mixin-0E34zlMuDjcB_letter-spacing: -1px;
  --mixin-0E34zlMuDjcB_line-height: 1.1;
  --mixin-MmTxqYP3Cl_M_color: #0070f3;
  --mixin-UizRzLdvHuT9_font-family: "Inter";
  --mixin-UizRzLdvHuT9_color: #000000;
  --mixin-UizRzLdvHuT9_font-size: 32px;
  --mixin-UizRzLdvHuT9_font-weight: 600;
  --mixin-UizRzLdvHuT9_letter-spacing: -0.8px;
  --mixin-UizRzLdvHuT9_line-height: 1.2;
  --mixin-zI53G0ouxERS_font-family: "Inter";
  --mixin-zI53G0ouxERS_color: #000000;
  --mixin-zI53G0ouxERS_font-size: 24px;
  --mixin-zI53G0ouxERS_font-weight: 600;
  --mixin-zI53G0ouxERS_letter-spacing: -0.5px;
  --mixin-zI53G0ouxERS_line-height: 1.3;
  --mixin-7e8ZNX6PXnyj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7e8ZNX6PXnyj_border-bottom-color: #dddddd;
  --mixin-7e8ZNX6PXnyj_border-bottom-style: solid;
  --mixin-7e8ZNX6PXnyj_border-bottom-width: 1px;
  --mixin-7e8ZNX6PXnyj_border-left-color: #dddddd;
  --mixin-7e8ZNX6PXnyj_border-left-style: solid;
  --mixin-7e8ZNX6PXnyj_border-left-width: 1px;
  --mixin-7e8ZNX6PXnyj_border-right-color: #dddddd;
  --mixin-7e8ZNX6PXnyj_border-right-style: solid;
  --mixin-7e8ZNX6PXnyj_border-right-width: 1px;
  --mixin-7e8ZNX6PXnyj_border-top-color: #dddddd;
  --mixin-7e8ZNX6PXnyj_border-top-style: solid;
  --mixin-7e8ZNX6PXnyj_border-top-width: 1px;
  --mixin-7e8ZNX6PXnyj_border-bottom-left-radius: 3px;
  --mixin-7e8ZNX6PXnyj_border-bottom-right-radius: 3px;
  --mixin-7e8ZNX6PXnyj_border-top-left-radius: 3px;
  --mixin-7e8ZNX6PXnyj_border-top-right-radius: 3px;
  --mixin-7e8ZNX6PXnyj_font-family: "Inconsolata";
  --mixin-7e8ZNX6PXnyj_padding-bottom: 1px;
  --mixin-7e8ZNX6PXnyj_padding-left: 4px;
  --mixin-7e8ZNX6PXnyj_padding-right: 4px;
  --mixin-7e8ZNX6PXnyj_padding-top: 1px;
  --mixin-C4hsKP3M1qyS_border-left-color: #dddddd;
  --mixin-C4hsKP3M1qyS_border-left-style: solid;
  --mixin-C4hsKP3M1qyS_border-left-width: 3px;
  --mixin-C4hsKP3M1qyS_color: #888888;
  --mixin-C4hsKP3M1qyS_padding-left: 10px;
  --mixin-EUEdTOL2ydTF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-EUEdTOL2ydTF_border-bottom-color: #dddddd;
  --mixin-EUEdTOL2ydTF_border-bottom-style: solid;
  --mixin-EUEdTOL2ydTF_border-bottom-width: 1px;
  --mixin-EUEdTOL2ydTF_border-left-color: #dddddd;
  --mixin-EUEdTOL2ydTF_border-left-style: solid;
  --mixin-EUEdTOL2ydTF_border-left-width: 1px;
  --mixin-EUEdTOL2ydTF_border-right-color: #dddddd;
  --mixin-EUEdTOL2ydTF_border-right-style: solid;
  --mixin-EUEdTOL2ydTF_border-right-width: 1px;
  --mixin-EUEdTOL2ydTF_border-top-color: #dddddd;
  --mixin-EUEdTOL2ydTF_border-top-style: solid;
  --mixin-EUEdTOL2ydTF_border-top-width: 1px;
  --mixin-EUEdTOL2ydTF_border-bottom-left-radius: 3px;
  --mixin-EUEdTOL2ydTF_border-bottom-right-radius: 3px;
  --mixin-EUEdTOL2ydTF_border-top-left-radius: 3px;
  --mixin-EUEdTOL2ydTF_border-top-right-radius: 3px;
  --mixin-EUEdTOL2ydTF_font-family: "Inconsolata";
  --mixin-EUEdTOL2ydTF_padding-bottom: 3px;
  --mixin-EUEdTOL2ydTF_padding-left: 6px;
  --mixin-EUEdTOL2ydTF_padding-right: 6px;
  --mixin-EUEdTOL2ydTF_padding-top: 3px;
  --mixin-BZHBkooTA64vo_display: flex;
  --mixin-BZHBkooTA64vo_flex-direction: column;
  --mixin-BZHBkooTA64vo_align-items: stretch;
  --mixin-BZHBkooTA64vo_justify-content: flex-start;
  --mixin-BZHBkooTA64vo_list-style-position: outside;
  --mixin-BZHBkooTA64vo_padding-left: 40px;
  --mixin-BZHBkooTA64vo_position: relative;
  --mixin-BZHBkooTA64vo_list-style-type: disc;
  --mixin-Jb86TeYCgMm-o_display: flex;
  --mixin-Jb86TeYCgMm-o_flex-direction: column;
  --mixin-Jb86TeYCgMm-o_align-items: stretch;
  --mixin-Jb86TeYCgMm-o_justify-content: flex-start;
  --mixin-Jb86TeYCgMm-o_list-style-position: outside;
  --mixin-Jb86TeYCgMm-o_padding-left: 40px;
  --mixin-Jb86TeYCgMm-o_position: relative;
  --mixin-Jb86TeYCgMm-o_list-style-type: decimal;
  --mixin-werMjt6lL2z9q_font-family: "Inter";
  --mixin-werMjt6lL2z9q_color: #000000;
  --mixin-werMjt6lL2z9q_font-size: 20px;
  --mixin-werMjt6lL2z9q_font-weight: 600;
  --mixin-werMjt6lL2z9q_letter-spacing: -0.3px;
  --mixin-werMjt6lL2z9q_line-height: 1.5;
  --mixin-0LOETMTXFxpcb_font-family: "Inter";
  --mixin-0LOETMTXFxpcb_color: #000000;
  --mixin-0LOETMTXFxpcb_font-size: 16px;
  --mixin-0LOETMTXFxpcb_font-weight: 600;
  --mixin-0LOETMTXFxpcb_line-height: 1.5;
  --mixin-p17yLmp8cqcvO_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-Xixk-6oHLB_O_font-family);
  font-size: var(--mixin-Xixk-6oHLB_O_font-size);
  font-weight: var(--mixin-Xixk-6oHLB_O_font-weight);
  font-style: var(--mixin-Xixk-6oHLB_O_font-style);
  color: var(--mixin-Xixk-6oHLB_O_color);
  text-align: var(--mixin-Xixk-6oHLB_O_text-align);
  text-transform: var(--mixin-Xixk-6oHLB_O_text-transform);
  line-height: var(--mixin-Xixk-6oHLB_O_line-height);
  letter-spacing: var(--mixin-Xixk-6oHLB_O_letter-spacing);
  white-space: var(--mixin-Xixk-6oHLB_O_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-fQ6nS-I1nyLw_color);
  font-weight: var(--mixin-fQ6nS-I1nyLw_font-weight);
  font-size: var(--mixin-fQ6nS-I1nyLw_font-size);
  line-height: var(--mixin-fQ6nS-I1nyLw_line-height);
  letter-spacing: var(--mixin-fQ6nS-I1nyLw_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-0E34zlMuDjcB_font-family);
  color: var(--mixin-0E34zlMuDjcB_color);
  font-size: var(--mixin-0E34zlMuDjcB_font-size);
  font-weight: var(--mixin-0E34zlMuDjcB_font-weight);
  letter-spacing: var(--mixin-0E34zlMuDjcB_letter-spacing);
  line-height: var(--mixin-0E34zlMuDjcB_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-MmTxqYP3Cl_M_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-UizRzLdvHuT9_font-family);
  color: var(--mixin-UizRzLdvHuT9_color);
  font-size: var(--mixin-UizRzLdvHuT9_font-size);
  font-weight: var(--mixin-UizRzLdvHuT9_font-weight);
  letter-spacing: var(--mixin-UizRzLdvHuT9_letter-spacing);
  line-height: var(--mixin-UizRzLdvHuT9_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-zI53G0ouxERS_font-family);
  color: var(--mixin-zI53G0ouxERS_color);
  font-size: var(--mixin-zI53G0ouxERS_font-size);
  font-weight: var(--mixin-zI53G0ouxERS_font-weight);
  letter-spacing: var(--mixin-zI53G0ouxERS_letter-spacing);
  line-height: var(--mixin-zI53G0ouxERS_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-7e8ZNX6PXnyj_background);
  font-family: var(--mixin-7e8ZNX6PXnyj_font-family);
  border-radius: var(--mixin-7e8ZNX6PXnyj_border-top-left-radius)
    var(--mixin-7e8ZNX6PXnyj_border-top-right-radius)
    var(--mixin-7e8ZNX6PXnyj_border-bottom-right-radius)
    var(--mixin-7e8ZNX6PXnyj_border-bottom-left-radius);
  padding: var(--mixin-7e8ZNX6PXnyj_padding-top)
    var(--mixin-7e8ZNX6PXnyj_padding-right)
    var(--mixin-7e8ZNX6PXnyj_padding-bottom)
    var(--mixin-7e8ZNX6PXnyj_padding-left);
  border-top: var(--mixin-7e8ZNX6PXnyj_border-top-width)
    var(--mixin-7e8ZNX6PXnyj_border-top-style)
    var(--mixin-7e8ZNX6PXnyj_border-top-color);
  border-right: var(--mixin-7e8ZNX6PXnyj_border-right-width)
    var(--mixin-7e8ZNX6PXnyj_border-right-style)
    var(--mixin-7e8ZNX6PXnyj_border-right-color);
  border-bottom: var(--mixin-7e8ZNX6PXnyj_border-bottom-width)
    var(--mixin-7e8ZNX6PXnyj_border-bottom-style)
    var(--mixin-7e8ZNX6PXnyj_border-bottom-color);
  border-left: var(--mixin-7e8ZNX6PXnyj_border-left-width)
    var(--mixin-7e8ZNX6PXnyj_border-left-style)
    var(--mixin-7e8ZNX6PXnyj_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-C4hsKP3M1qyS_color);
  padding-left: var(--mixin-C4hsKP3M1qyS_padding-left);
  border-left: var(--mixin-C4hsKP3M1qyS_border-left-width)
    var(--mixin-C4hsKP3M1qyS_border-left-style)
    var(--mixin-C4hsKP3M1qyS_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-EUEdTOL2ydTF_background);
  font-family: var(--mixin-EUEdTOL2ydTF_font-family);
  border-radius: var(--mixin-EUEdTOL2ydTF_border-top-left-radius)
    var(--mixin-EUEdTOL2ydTF_border-top-right-radius)
    var(--mixin-EUEdTOL2ydTF_border-bottom-right-radius)
    var(--mixin-EUEdTOL2ydTF_border-bottom-left-radius);
  padding: var(--mixin-EUEdTOL2ydTF_padding-top)
    var(--mixin-EUEdTOL2ydTF_padding-right)
    var(--mixin-EUEdTOL2ydTF_padding-bottom)
    var(--mixin-EUEdTOL2ydTF_padding-left);
  border-top: var(--mixin-EUEdTOL2ydTF_border-top-width)
    var(--mixin-EUEdTOL2ydTF_border-top-style)
    var(--mixin-EUEdTOL2ydTF_border-top-color);
  border-right: var(--mixin-EUEdTOL2ydTF_border-right-width)
    var(--mixin-EUEdTOL2ydTF_border-right-style)
    var(--mixin-EUEdTOL2ydTF_border-right-color);
  border-bottom: var(--mixin-EUEdTOL2ydTF_border-bottom-width)
    var(--mixin-EUEdTOL2ydTF_border-bottom-style)
    var(--mixin-EUEdTOL2ydTF_border-bottom-color);
  border-left: var(--mixin-EUEdTOL2ydTF_border-left-width)
    var(--mixin-EUEdTOL2ydTF_border-left-style)
    var(--mixin-EUEdTOL2ydTF_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-BZHBkooTA64vo_display);
  flex-direction: var(--mixin-BZHBkooTA64vo_flex-direction);
  align-items: var(--mixin-BZHBkooTA64vo_align-items);
  justify-content: var(--mixin-BZHBkooTA64vo_justify-content);
  list-style-position: var(--mixin-BZHBkooTA64vo_list-style-position);
  padding-left: var(--mixin-BZHBkooTA64vo_padding-left);
  position: var(--mixin-BZHBkooTA64vo_position);
  list-style-type: var(--mixin-BZHBkooTA64vo_list-style-type);
  flex-column-gap: var(--mixin-BZHBkooTA64vo_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Jb86TeYCgMm-o_display);
  flex-direction: var(--mixin-Jb86TeYCgMm-o_flex-direction);
  align-items: var(--mixin-Jb86TeYCgMm-o_align-items);
  justify-content: var(--mixin-Jb86TeYCgMm-o_justify-content);
  list-style-position: var(--mixin-Jb86TeYCgMm-o_list-style-position);
  padding-left: var(--mixin-Jb86TeYCgMm-o_padding-left);
  position: var(--mixin-Jb86TeYCgMm-o_position);
  list-style-type: var(--mixin-Jb86TeYCgMm-o_list-style-type);
  flex-column-gap: var(--mixin-Jb86TeYCgMm-o_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-werMjt6lL2z9q_font-family);
  color: var(--mixin-werMjt6lL2z9q_color);
  font-size: var(--mixin-werMjt6lL2z9q_font-size);
  font-weight: var(--mixin-werMjt6lL2z9q_font-weight);
  letter-spacing: var(--mixin-werMjt6lL2z9q_letter-spacing);
  line-height: var(--mixin-werMjt6lL2z9q_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-0LOETMTXFxpcb_font-family);
  color: var(--mixin-0LOETMTXFxpcb_color);
  font-size: var(--mixin-0LOETMTXFxpcb_font-size);
  font-weight: var(--mixin-0LOETMTXFxpcb_font-weight);
  line-height: var(--mixin-0LOETMTXFxpcb_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-p17yLmp8cqcvO_color);
}
